<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bluescreenstudios.android.flagger">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.bluescreenstudios.android.flagger.MultiPlayerQuiz"
            android:noHistory="true"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.bluescreenstudios.android.flagger.SinglePlayerQuiz"
            android:noHistory="true"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.bluescreenstudios.android.flagger.End"
            android:noHistory="true"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.bluescreenstudios.android.flagger.Settings"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bluescreenstudios.android.flagger.Start"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>